<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @blog.images.present? %>
  	<% @blog.images.each do |image| %>
  		<%= image_tag(image.avatar_url,size: "80x46") %>
  	<% end %>
  <% else %>
  	<p>images are not present</p>
  <% end %>
</p>

<div id="comment_section">
  <%= render partial: 'comments/blog_comments' ,locals: {blog: @blog} %>
</div> 
