<div class='bodyCnt'>
    <div class='wraper'>
      <div class='' id='inner-main'>
        <div class='subNavCnt'>
          <h1>PackageTypes</h1>
          <div class='moreLinks'>
            <ul>
              <li>
                <a href="/services/new" class="btn"><%= link_to "Add New PackageType", new_admin_package_type_path %></a>
              </li>
            </ul>
          </div>
          <div class='clear'></div>
        </div>
        <table class='cmsTable'>
          <tr>
            <th>Transport</th>
            <th>Price</th>
            <th>Days</th>
            <th>Nights</th>
            <th>Package</th>
            <th colspan="3"></th>
          </tr>
          <% @package_types.each do |package_type| %>
            <tr>
              <td><%= package_type.transport %></td>
              <td><%= package_type.price %></td>
              <td><%= package_type.days %></td>
              <td><%= package_type.nights %></td>
              <td><%= package_type.package_id %></td>
              <td><%= link_to 'Show', admin_package_type_path(package_type) %></td>
              <td><%= link_to 'Edit', edit_admin_package_type_path(package_type) %></td>
              <td><%= link_to 'Destroy', admin_package_type_path(package_type), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
        <br>
        <br>
        <script>
          var topNavPageId = 0
        </script>
      </div>
    </div>
    <div class='clear'></div>
</div>
<div class='clear'></div>