<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>

<p>
  <strong>Photo:</strong>
  <% if @hotel.images.present? %>
  	<% @hotel.images.each do |image| %>
  		<%= image_tag(image.avatar_url,size: "80x46") %>
  	<% end %>
  <% else %>
  	<p>images are not present</p>
  <% end %>
</p>

<%= link_to 'Back', hotels_path %>
