<!DOCTYPE html>
<html>
<head>
  <title>Travelsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='cms-container'>
	    <div class='header'>
	      <div class='wraper'>
	        <div class='adminInfo'>
	          Logged in as:
	          admin@liftandshift.com
	          |
	          <a href="/users/sign_out" data-method="delete" rel="nofollow" style="color:#fff">Logout</a>
	        </div>
	        <div class='logo'>
	          <a href='/'>
	            <%= image_tag('images1.jpeg') %>
	          </a>
	        </div>
	      <div class='clear'></div>
	    </div>
	</div>

	<header class='mainNav boxLink'>
	    <section class='wraper'>
	    	<nav class='topNav'>
	    		<ul class='mainMenu'>
				    <li>
				    	<%= link_to "Hotels", admin_hotels_path %>
				    </li>
				    <li>
				    	<%= link_to "Packages", admin_packages_path %>
				    </li>
				    <li>
				    	<%= link_to "PackageTypes", admin_package_types_path %>
				    </li>
				    <li>
				    	<%= link_to "Blogs", admin_blogs_path %>
				    </li>
				</ul>
				<div class='clear'></div>
	    	</nav>
	    </section>
	</header>
	<div class='clear'></div>
	<%= yield %>

</body>
</html>
